:root {
  --color-brand: #183153;
  --color-secondary: #d45500;
  --color-white: white;
  --color-white-rgb: 255, 255, 255;
  --color-gray-lightest: #f7f7f7;
  --color-gray-light: #ddd;
  --color-gray-dark: #333;
  --color-gray-dark-rgb: 51, 51, 51;
  --color-black: #000;
  --color-black-rgb: 0, 0, 0;

  --icon-size: .8em;

  --font-default-family: "Open Sans", Ubuntu, sans-serif, system-ui, -apple-system, Arial;
  --font-default-size: 14px;
  --font-small-size: .8rem;

  --input-padding: .8rem;
  --input-border-radius: 0.2rem;

  --scroll-color: var(--color-black);
  --scroll-size: 1.3em;

  --sidebar-width: 250px;
  --sidebar-max-width: 500px;
  --sidebar-min-width: 200px;
  --sidebar-padding: .6rem;
  --sidebar-resize: horizontal;
  --sidebar-labels-display: initial;
  --sidebar-bg-color: var(--color-brand);
  --sidebar-content-color: var(--color-white);
  --sidebar-content-dimmed-color: rgba(var(--color-white-rgb), .5);
  --sidebar-item-hover-bg-color: rgba(var(--color-black-rgb), .3);
  --sidebar-item-selected-bg-color: rgba(var(--color-black-rgb), .8);
  --sidebar-delete-active-bg-color: var(--color-secondary);

  padding: 0;
  margin: 0;
  font-family: var(--font-default-family);
  font-size: var(--font-default-size);
}

@media (max-width: 800px) {
    :root {
      --sidebar-width: 50px;
      --sidebar-max-width: 50px;
      --sidebar-min-width: 50px;
      --sidebar-resize: none;
      --sidebar-labels-display: none;
      --scroll-size: .7em;
    }
}

html, body, #root {
  height: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}
